@import "../../../../../styles.scss";

.option {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;

  &:hover {
    color: $primary;
  }

  &__icon,
  & svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
